body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 0, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(84, 54, 228);
}

.principal {
    background: rgb(149, 18, 44);
    padding-bottom: 80px;
    padding: 30px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgb(42, 0, 228);
}

.video-principal {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
    padding-top: 60px;
}
 
p {
    font-size: 20px;
}


.videos-secundarios {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    
}

.secundarios {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
}

.videos-secundarios img {
    opacity: 0.4;
    height: 200px;
}

.videos-secundarios img:hover {
    opacity: 1.0;
    border: 1px solid yellow;
}

.secundarios h2 {
    color: rgb(21, 89, 199);
}

    





